<% include ./head %>

<div class="jumbotron">
    <h1 class="display-3">About</h1>
    <hr class="my-2 mb-2">
    <br><br>
    <p class="about">
        This Web-App is used to predict the seat allotment of institutes according to student preferences based on their ranks.<br><br>
        <span>
            Following are the goals behind making this project:
            <ul class="about-ul">
                <li><strong>Efficient</strong> storage and use of college details.</li>
                <li><strong>Efficient</strong> storage and use of student details.</li>  
                <li>Proper Allotment of seats according to students rank and choice.</li>
            </ul>
        </span>
        <span>
            <span class="about">Specification of the project are:</span><br><br>
            <ul class="about-ul">
                <li><strong>Front-End: </strong>HTML, CSS, JS</li>
                <li><strong>Back-End: </strong>NodeJS</li>
                <li><strong>Database: </strong>MYSQL</li>
                <li><strong>Algorithm: </strong>Gale-Shapley Algorithm</li>
            </ul>
        </span>
    </p>
    <br><br><br><br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Sign In To Continue</a>
    </p>
</div>

<% include ./tail %>