<form>
    <div class="form-group row">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control" placeholder="Name" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Enter The Institute Name</small>
    </div>
    <div class="row">
        <div class="form-group col-md-9">
            <label for="InstituteId">ID</label>
            <input type="text" name="InstituteId" class="form-control" placeholder="InstituteId" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Enter The Institute ID</small>
        </div>
        <div class="form-group">
          <label for="EstablishedYear">Established Year</label>
          <input type="text" name="EstablishedYear" id="EstablishedYear" class="form-control" placeholder="Established Year" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Enter the Year of Establishment of Institute</small>
        </div>
    </div>
</form>