<form>
    <div class="form-group row">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control" placeholder="Name" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Enter The Program Name</small>
    </div>
    <div class="row">
        <div class="form-group col-md-9">
            <label for="InstituteId">Total Seats</label>
            <input type="text" name="TotalSeats" class="form-control" placeholder="InstituteId" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Enter Total Seats</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="Name">ID</label>
        <input type="text" name="InstitudeId" id="Name" class="form-control" placeholder="Name" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Enter The Institute ID</small>
    </div>
</form>
